

div, input, select, button {
	
	padding: 2px;
	margin: 2px;
	border: solid 1px;
	border-color: #00aa00;
	border-radius: 4px;
}


.menu{
	background-color: #55aaff;	
	border: solid 1px;
	border-color: #55aaff;
	font: 25px courier;
	
}

.data {
  	background-color: #aaff7f

}

.inner {
	
	background-color: #00aa7f
}